:root {
  --header-background-color:#6200ee;
  --header-text-color:#fff;
  --header-hover-color:rgb(230, 217, 217);
  --hero-text-color:#0036ff;
  --hero-background-color:#ffde03;
  --how-to-background-color:#0036ff;
  --how-to-text-color:#fff;
  --card-background-color:#ffde03;
  --card-text-color:#0036ff;
  --card-link-color:#0c0607;
}
[data-theme="dark"] {
  --header-background-color:#121212;
  --header-text-color:#cf6679;
  --header-hover-color:#a0a0a0c0;
  --hero-text-color:rgb(39,39,39);
  --hero-background-color:#cf6679;
  --how-to-background-color:#121212;
  --how-to-text-color:#cf6679;
  --card-background-color:#121212af;
  --card-text-color:#cf6679;
  --card-link-color:#5695e9;
}
* {box-sizing: border-box;}

body { 
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.header {
  overflow: hidden;
  background-color: var(--header-background-color);
  padding: 10px 10px;
}

.header a {
  float: left;
  color: var(--header-text-color);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}



.header a:hover {
 color: var(--header-hover-color);
}

.header-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    
  }
  
  .header-right {
    float: none;
    text-align: center;
  }
  .hero-image p{
    font-size: 20px;
  }
  .hero-image h2{
    font-size: 44px;
  }
 
}

.hero-image{
  background-color: var(--hero-background-color);
  padding-top: 32px;
  padding-bottom: 15px;
  text-align: center;
}
.hero-image h2{
  color: var(--hero-text-color);
  font-size: 48px;
}
.hero-image p{
  font-size: 24px;
  color: var(--hero-text-color);
  padding-left: 10px;
  padding-right: 10px;
}
.how-to{
  padding-top: 20px;
  text-align: center;
  padding-bottom: 30px;
  background-color:var(--how-to-background-color); 
}
.how-to h1{
padding-top: 20px;
color:var(--how-to-text-color); 
}
.how-to-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px;
  gap: 0px 15px;
  grid-template-areas:
    "how-to-1 how-to-2 how-to-3";
}

.how-to-1 { grid-area: how-to-1; }

.how-to-2 { grid-area: how-to-2; }

.how-to-3 { grid-area: how-to-3; }
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  border-radius: 5px;
  background-color: var(--card-background-color);
  color: var(--card-text-color);
}

/*.card:hover {
  box-shadow: 0 8px 16px 0 #3600b394;
}*/

.card-img {
  border-radius: 5px 5px 0 0;
}

.card-container {
  padding: 2px 16px;
}
.card-container a{
  color: var(--card-link-color);
}
@media screen and (max-width: 700px) {
.how-to-grid-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px 400px 400px;
  gap: 10px 0px;
  justify-content: center; 
text-align: center;
align-content: center;
align-items: center;
  grid-template-areas:
    "how-to-1"
    "how-to-2"
    "how-to-3";
}

.how-to-1 { 
margin-left: 50px;  
grid-area: how-to-1; 
justify-content: center; 
text-align: center;
align-content: center;
align-items: center;
}

.how-to-2 { 
  margin-left: 50px;  
grid-area: how-to-2; 
justify-content: center; 
text-align: center; 
align-content: center;
align-items: center;
}

.how-to-3 { 
  margin-left: 50px;  
grid-area: how-to-3; 
justify-content: center; 
text-align: center;
align-content: center;
align-items: center;
}

}
@media screen and (min-width: 701px) {
  .how-to-1 .card{
    margin-left: 50px;
    margin-bottom: 10px;
  }
}

