.commit{
  z-index: 10;
  position: absolute;
  width: 300px;
  height: calc(100% - 20px);
  word-break: break-word;
  overflow-y:scroll;
  top: 0%;
  right: 0%;
  color: white;
  background: var(--prima-nocta-darker);

  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
