.nav-li{
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    margin-left:20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    background-color: rgb(50,50,50);
    padding-bottom: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400; 
}
.nav-li:hover{
    background-color: #414141;
}
#header h4{
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-left: 30px;
}
.nav-li-right{
    font-family: 'Josefin Sans', sans-serif;
    float: right;
    margin-right:20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    background-color: rgb(50,50,50);
    padding-bottom: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400; 
}
.nav-li-right:hover{
    background-color: #414141;  
}
#hero-text {
    float: left;
    font-family: 'DM sans', sans-serif;
    margin-top: 20px;
    margin-left: 80px;
    width: 80%;

}
#hero-text h2{
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
}
#hero-text p{
    margin-bottom: 10px;
    font-size: 16px;
}
.hero-img{
    width: 100%;
    height: auto;
    text-align: center;
}
.footer{
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
}
.footer h4{
    font-family: 'DM sans', sans-serif;
    color: black; 
    font-size: 40px;
}
.footer a{
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    background-color: rgb(50,50,50);
    padding-bottom: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    
}
.footer a:hover{
    background-color: #414141;
}
#github{
    padding-left: 50px;
}
#discord{
    padding-left: 50px;
}
#twitter:hover{
color: #00acee;
}
#github:hover{
 color: #2C2F33;
}
#discord:hover{
  color: #7289DA;
}