@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  
}

input[type="file"] {
    display: none;
}
.custom-file-upload{
   
    display: inline-block;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
   background-color: rgb(68, 67, 67);
  color: rgb(67, 243, 190);
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}
#search{
  padding-top:40px;
  padding-left:20px;
margin-left:3px;
padding:11px 10px;
 background-color: rgb(68, 67, 67);
  color: rgb(67, 193, 243);
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}
.font-size{
    padding-top:40px;
  padding-left:20px;
margin-left:35px;
padding:11px 10px;
 background-color: rgb(68, 67, 67);
  color: rgb(67, 193, 243);
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
margin-top:30px;
}
#replace{
  padding-top:40px;
  padding-left:20px;
margin-left:3px;
padding:11px 10px;
 background-color: rgb(68, 67, 67);
  color: rgb(67, 193, 243);
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}
#searchbox{
  padding-top: 20px;
  padding-left: 30px;
  display: none;
}

.custom-file-upload:hover{
    
    display: inline-block;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
background-color: rgb(67, 243, 190);
 color:rgb(68, 67, 67);
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}

header {
  height: 90px;
  background-color: #1E1E1E;
  display: flex;
 
  
}

#logocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
  }
  
#buttoncontainer {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 30px;
}

#dashboard {
  padding: 14px 28px;
  border-radius: 5px;
   background-color: rgb(68, 67, 67);
  color: rgb(67, 243, 190);
  cursor: pointer;
 font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}

#dashboard:hover{
 padding: 14px 28px;
 background-color: rgb(67, 243, 190);
 color:rgb(68, 67, 67);
 cursor: pointer;
 border-radius: 5px;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
}


#fileadd {
 padding: 14px 28px;
  border-radius: 5px;
   background-color: rgb(68, 67, 67);
  color: rgb(67, 243, 190);
  cursor: pointer;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
}

#fileadd:hover{
padding: 14px 28px;
  background-color: rgb(67, 243, 190);
 color:rgb(68, 67, 67);
 cursor: pointer;
 border-radius: 5px;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 16px;
}

.iconify{
    font-size: 40px; 
  }

  
 main {
  display: flex;
  flex: 1;
  position: relative;
}
#frame1{
width:80px;
text-align: center;
align-items: center;
justify-content: center;
background-color: rgb(31, 31, 31);

} 
#frame2{
width:300px;
background-color:rgb(61, 61, 61);
display: none;
}
#frame3{
width:300px;
background-color:rgb(61, 61, 61);
display: none;
}
#editor {
    flex:1;
  }
#consolediv{
 width:300px;
background-color:rgb(61, 61, 61);
display: none;
}
#files{
padding-top: 10px;
width: 15%;
background-color: rgb(255, 255, 255);
text-align: center;
font-family: 'Josefin Sans', sans-serif;
font-size: 28 px; 

}
p{
  font-family: 'Josefin Sans', sans-serif;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
#nav{
color: rgb(122, 122, 122);
padding-top:20px;
}
#nav:hover{
 color: rgb(26, 172, 240); 
}
#close-icon{
  justify-content: right;
  padding-top:10px;
  padding-right:10px; 
  float: right;
  color: rgb(26, 172, 240); 
}
#close-icon:hover{
color: rgb(122, 122, 122);  
}
#save{
 color: rgb(122, 122, 122);
padding-top:20px; 
}
#save:hover{
 color: rgb(26, 172, 240); 
}
.button-primary-blue{
    margin-top:40px;
    padding: 15px 55px;
    background-color: #4285f4;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    border-color:#4285f4 ;
   padding-bottom: 10px;
    padding-top:10px ;
}
.button-primary-blue:hover{
    box-shadow: 0 0 6px #4285f4;
    padding-top:10px ;
}
.button-primary-blue:active{
background: rgb(8, 37, 204);
padding-top:10px ;
}
#blocks{
flex:1;
display: none;
}
#blocklyheader{
width: 100%;
height: 40px ;
}
#blocklyimg{
width:100px;
height: auto;
padding-left: 40px;
padding-top:20px;
}
#blocklyback{
  float: right;
  padding-top:20px;
  padding-right:10px;
}
#blocklyback:hover{
 color: rgb(26, 172, 240);  
}
.run-button{
  padding-top: 30px;
  padding-left: 88px;
}
.error-code{
  padding-top: 2px;
  padding-left: 20px;
  color: white;
}
.error-code a{
  color: rgb(26, 172, 240);  
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}